/*-- scss:defaults --*/

// Font settings
$font-family-sans-serif: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif, !default;
$font-family-monospace: "Monaspace Neon", monospace;
$font-size-root: 16px;  // 기본 폰트 크기 설정
$h1-font-size: 2.25rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$figure-caption-font-size: 0.9em !default;
$headings-font-weight: 600 !default;

// Nord theme colors
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

$theme-colors: (
  "primary":    $nord10,
  "secondary":  $nord3,
  "success":    $nord14,
  "info":       $nord8,
  "warning":    $nord13,
  "danger":     $nord11,
  "light":      $nord6,
  "dark":       $nord0
);

// Colors
$body-bg: #ffff; // 페이지 배경색
$body-color: $nord0; // 텍스트 색상
$link-color: $nord10; // 링크 색상
$input-bg: $nord5; // HTML 입력 요소 배경색
$popover-bg: $nord4; // 팝오버 배경색

// Code Blocks
$code-block-border-left: $nord9;
$code-block-border-left-style: solid;
$code-block-border-left-size: 3px;
$code-block-padding-left: 0.6em;
$code-block-bg: $nord5;
$code-block-bg-padding: 0.4em;
$code-block-bg-alpha: -0.35;
$code-annotation-higlight-color: $nord8;
$code-annotation-higlight-bg: rgba($nord8, 0.2);
$btn-code-copy-color: $nord3;
$btn-code-copy-color-active: $nord0;
$code-bg: mix($nord6, $nord4, 80%);
$code-color: $nord0;

// Table of Contents
$toc-color: $nord2;
$toc-font-size: 0.8em;
$toc-active-border: $nord10;
$toc-inactive-border: $nord4;

// Layout
$content-padding-top: 2rem;

// Navigation
$navbar-bg: $nord6;  // 밝은 배경색
$navbar-fg: $nord0;  // 어두운 텍스트 색상
$navbar-hl: $nord10; // 강조색

$sidebar-bg: $nord5; // 약간 어두운 배경색
$sidebar-fg: $nord0; // 어두운 텍스트 색상
$sidebar-hl: $nord10; // 강조색

$footer-bg: $nord6; // 밝은 배경색
$footer-fg: $nord0; // 어두운 텍스트 색상

// Callouts
$callout-border-width: 4px;
$callout-border-scale: -10%;
$callout-icon-scale: 0%;
$callout-margin-top: 1rem;
$callout-margin-bottom: 1rem;

$callout-color-note: $nord10;     // 파란색
$callout-color-tip: $nord14;      // 녹색
$callout-color-caution: $nord13;  // 노란색
$callout-color-warning: $nord12;  // 주황색
$callout-color-important: $nord11; // 빨간색

// Pagination
$pagination-color: $nord3; // 링크 색상
$pagination-bg: $nord6;  // 배경색
$pagination-border-color: $nord4;  // 테두리 색상
$pagination-focus-color: $nord3; // 포커스 시 링크 색상
$pagination-focus-bg: $nord5;  // 포커스 시 배경색
$pagination-hover-color: $nord3; // 호버 시 링크 색상
$pagination-hover-bg: $nord5;  // 호버 시 배경색
$pagination-hover-border-color: $nord4;  // 호버 시 테두리 색상
$pagination-active-color: $nord6;  // 활성 상태 텍스트 색상
$pagination-active-bg: $nord3; // 활성 상태 배경색
$pagination-active-border-color: $nord3; // 활성 상태 테두리 색상
$pagination-disabled-color: $nord3;  // 비활성화 상태 텍스트 색상
$pagination-disabled-bg: $nord6;  // 비활성화 상태 배경색
$pagination-disabled-border-color: $nord4;  // 비활성화 상태 테두리 색상

// Additional styles
// 타이틀
.navbar-title {
  font-size: $h1-font-size;
  font-weight: 700;
}
// 카테고리
.category {
  font-size: 0.8em;
}
// 태그
div.quarto-post .listing-categories .listing-category {
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-700) !important;
}// code filename coloringpre {  font-size: 0.8em;  color: $body-color !important;}.code-with-filename .code-with-filename-file {   background-color: $code-block-bg !important;   border: none !important;}.input-group-text {  color: $body-color !important;}
